/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

h2 {
    color: #333;
}

form {
  margin-top: 20px;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

input {
  padding: 8px;
  width: 100%;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #4CAF50;
  color: white;
  display: block;
  margin: auto;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

.result {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.result.success {
  color: green;
}

.result.warning {
  color: orange;
}

.result.error {
  color: red;
}
